In [1]:
# range(5) 0,1,2,3,4
# range(1,5) 1,2,3,4
# range(1,5,2) 1,3

In [5]:
for i in range(5):
    print(i)

0
1
2
3
4

In [9]:
for i in range(1,5):
    print(i)

1
2
3
4

In [10]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [12]:
for i in range(5):
    print(i,"HELLO WORLD")

0 HELLO WORLD
1 HELLO WORLD
2 HELLO WORLD
3 HELLO WORLD
4 HELLO WORLD

In [13]:
for i in range(1,11):
    print(5*i)

5
10
15
20
25
30
35
40
45
50

In [17]:
n=int(input("Enter the value of n= "))
for i in range(1,11):
    print(n,"*",i,"=",n*i)

Enter the value of n= 2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [18]:
for i in range(2):
    x=input("Enter the value for x= ")
    print(x)

Enter the value for x= 2
2
Enter the value for x= 5
5

In [21]:
s=0
n=int(input("Enter n= "))
for i in range(n):
    x=int(input("Enter x= "))
    s=s+x
    
print(s)

Enter n= 2
Enter x= 1
Enter x= 23
24

s=str()
n=int(input("Enter n= ")

In [1]:
s=str()
n=int(input("Enter n = "))
for i in range(n):
    name=input("Enter name= ")
    phone=int(input("Enter phone= "))
    s=s+name+","+" "+str(phone)+"\n"
print(s)

Enter n = 2
Enter name= shakti
Enter phone= 98721489134
Enter name= smile
Enter phone= 92140942
shakti, 98721489134
smile, 92140942

In [2]:
# 4!= 1*2*3*4

In [1]:
n=int(input("Enter n= "))
fac=1
for i in range(1,n+1):
    fac=fac*i
    print(fac)

Enter n= 9
1
2
6
24
120
720
5040
40320
362880

In [8]:
a=input("Enter string= ")
for i in a:
    print(str(i))

Enter string= shakti
s
h
a
k
t
i

In [10]:
a="PYTHON"
for i in range(4):
    print(a[i],end = " ")

P Y T H

In [16]:
a=input("Enter string = ")
l=len(a)
print(l)
for i in range(l):
    print(a[i],end = "")

Enter string = shakti
6
shakti