In [1]:
# file = open('<file_name>','<mode>')
# file.close()

#with open('<file_name>','<mode>') as file:
#    <operation>

In [2]:
#modes
#read -> 'r'
#create -> 'x'
#write -> 'w'
#append -> 'a'

In [14]:
try:
    file = open('data.txt','x')
    file.close()
except:
    print("The file is already there.")

The file is already there.

In [15]:
file=open('data.txt','r')
x=file.read()
print(x,type(x))
file.close()

1.HELLO WORLD
2.HELLO WORLD
3.HELLO WORLD
4.HELLO WORLD
5.HELLO WORLD
6.HELLO WORLD
7.HELLO WORLD <class 'str'>

In [16]:
y=x.split('\n')
print(y[2])

3.HELLO WORLD

In [17]:
y=x.split('\n')
print(y)

['1.HELLO WORLD', '2.HELLO WORLD', '3.HELLO WORLD', '4.HELLO WORLD', '5.HELLO WORLD', '6.HELLO WORLD', '7.HELLO WORLD']

In [21]:
file=open('data.txt','w')
x=file.write('HELLO WORLD I AM PYTHON ')
file.close()

In [22]:
file=open('data.txt','a')
x=file.write('HELLO WORLD I AM PYTHON ')
file.close()

In [2]:
bill=""
n=int(input("Enter n="))
for i in range(n):
    name=input("Enter name=")
    price=int(input("Enter price="))
    quantity=int(input("Enter quantity="))
    total=price*quantity
    bill=bill+f'{name},{price},{quantity},{total}\n'
    
file=open('data.csv','w')
file.write("name,price,quantity,total\n")
file.write(bill)
file.close()

Enter n=2
Enter name=jhdsfa
Enter price=1223
Enter quantity=23
Enter name=klhadf
Enter price=232
Enter quantity=22

In [6]:
file=open('data.csv','r')
x=file.read()
print(x)
file.close()

name,price,quantity,total
jhdsfa,1223,23,28129
klhadf,232,22,5104

In [4]:
y=x.split('\n')[0:-1]
print(y)

['name,price,quantity,total', 'jhdsfa,1223,23,28129', 'klhadf,232,22,5104']

In [7]:
bills=[]
for i in y:
    bills.append(i.split(','))
print(bills)

[['name', 'price', 'quantity', 'total'], ['jhdsfa', '1223', '23', '28129'], ['klhadf', '232', '22', '5104']]

In [17]:
all_total=0
for i in range(1,len(bills)):
    z=int(bills[i][3])
    print("Total=",z)
    all_total=all_total+z
print("Grand total=",all_total)

Total= 28129
Total= 5104
Grand total= 33233