In [1]:
#list inside list
a=[[1,2,3],[4,5,6],[7,8,9]]
print(a)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [2]:
print(type(a))

<class 'list'>

In [7]:
print(a[0][0])
print(a[0][1])
print(a[0][2])
print(a[1][1])
print(a[1][2])
print(a[2][2])

1
2
3
5
6
9

In [8]:
a=[["Ram",34,"Kathmandu"],["Shyam",56,"Lalitpur"],["Hari",45,"Bhaktapur"]]
a

[['Ram', 34, 'Kathmandu'],
 ['Shyam', 56, 'Lalitpur'],
 ['Hari', 45, 'Bhaktapur']]

In [1]:
a=[]
n=int(input("Enter n= "))
for i in range(n):
    name = input("Enter name= ")
    age= int(input("Enter age= "))
    add= input("Enter address= ")
    i= [name, age, add]
    a.append(i)
print(a)

Enter n= 3
Enter name= Shakti
Enter age= 21
Enter address= Lalitpur
Enter name= Smile
Enter age= 20
Enter address= Butwal
Enter name= Third wheel
Enter age= 0
Enter address= idk
[['Shakti', 21, 'Lalitpur'], ['Smile', 20, 'Butwal'], ['Third wheel', 0, 'idk']]

In [3]:
a=[['Shakti', 21, 'Lalitpur'], ['Smile', 20, 'Butwal'], ['Third wheel', 0, 'idk']]
a[2]=['Drishya',25,'Bhaktapur']
print(a)

[['Shakti', 21, 'Lalitpur'], ['Smile', 20, 'Butwal'], ['Drishya', 25, 'Bhaktapur']]

In [5]:
a=[['Shakti', 21, 'Lalitpur'], ['Smile', 20, 'Butwal'], ['Drishya', 25, 'Bhaktapur']]
for i in a:
    print(i)

['Shakti', 21, 'Lalitpur']
['Smile', 20, 'Butwal']
['Drishya', 25, 'Bhaktapur']

In [6]:
a=[['Shakti', 21, 'Lalitpur'], ['Smile', 20, 'Butwal'], ['Drishya', 25, 'Bhaktapur']]
search=input("Enter name= ")
for i in a:
    if search in i:
        print(i)

Enter name= Smile
['Smile', 20, 'Butwal']

In [11]:
a=[['Shakti', 21, 'Lalitpur'], ['Smile', 20, 'Butwal'], ['Drishya', 25, 'Bhaktapur'], ['Shakti', 23, 'Kathmandu']]
search=input("Enter name= ")
c=0
for i in a:
    if search in i:
        c=c+1
        print(i)
        
print(f"There are {c}",search)

Enter name= Shakti
['Shakti', 21, 'Lalitpur']
['Shakti', 23, 'Kathmandu']
There are 2 Shakti

In [1]:
#WAP to create a list inside list with rows and columns
l=[]
n=int(input("Enter value of n= "))
r=int(input("Enter row= "))
c=int(input("Enter column= "))
for i in range(r):
    y=[]
    for j in range(c):
        x=int(input("Enter x= "))
        y.append(x)
    l.append(y)
print(l)

Enter value of n= 3
Enter row= 3
Enter column= 3
Enter x= 1
Enter x= 2
Enter x= 3
Enter x= 4
Enter x= 5
Enter x= 6
Enter x= 7
Enter x= 8
Enter x= 9
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [5]:
a= [i for i in range(5)]
a

[0, 1, 2, 3, 4]

In [12]:
a= [i for i in range(1,21)]
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [13]:
a= [i for i in range(1,21) if i%2==0]
a

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [20]:
a=["APPLE","BALL","cat","dog"]
b= [i for i in a if i.isupper()]
b

['APPLE', 'BALL']

In [4]:
#WAP to create a billing system using list inside list
n=int(input("Enter value for n= "))
l=[]
for i in range(n):
    product=input("Enter product name= ")
    price=int(input("Enter price= "))
    quantity=int(input("Enter quantity= "))
    total=price*quantity
    info=[product,price,quantity,total]
    l.append(info)
print(l)

Enter value for n= 2
Enter product name= a
Enter price= 10
Enter quantity= 2
Enter product name= b
Enter price= 30
Enter quantity= 3
[['a', 10, 2, 20], ['b', 30, 3, 90]]