In [1]:
#dict inside list
l=[{'name':'Shakti','age':'21','address':'Lalitpur'},
   {'name':'Smile','age':'20','address':'Butwal'},
   {'name':'no one','age':'100','address':'Nowhere'}]
l

[{'name': 'Shakti', 'age': '21', 'address': 'Lalitpur'},
 {'name': 'Smile', 'age': '20', 'address': 'Butwal'},
 {'name': 'no one', 'age': '100', 'address': 'Nowhere'}]

In [2]:
data=[]
n=int(input("Enter n="))
for i in range(n):
    name=input("Enter name: ")
    age=int(input("Enter age: "))
    add=input("Enter address: ")
    info={'name':name, 'age':age,'add':add}
    data.append(info)
print(data)

Enter n=2
Enter name: Shakto
Enter age: 21
Enter address: lalitpur
Enter name: Smile
Enter age: 20
Enter address: Butwal
[{'name': 'Shakto', 'age': 21, 'add': 'lalitpur'}, {'name': 'Smile', 'age': 20, 'add': 'Butwal'}]

In [3]:
data=[{'name': 'Shakti', 'age': 21, 'add': 'Lalitpur'}, 
      {'name': 'Smile', 'age': 20, 'add': 'Butwal'}]
data.append({'name':'Who','age':'493','add':'you'})
data

[{'name': 'Shakti', 'age': 21, 'add': 'Lalitpur'},
 {'name': 'Smile', 'age': 20, 'add': 'Butwal'},
 {'name': 'Who', 'age': '493', 'add': 'you'}]

In [4]:
print(data[0])

{'name': 'Shakti', 'age': 21, 'add': 'Lalitpur'}

In [5]:
print(data[0]['name'])

Shakti

In [7]:
data[2]['name']='mf'
data

[{'name': 'Shakti', 'age': 21, 'add': 'Lalitpur'},
 {'name': 'Smile', 'age': 20, 'add': 'Butwal'},
 {'name': 'mf', 'age': '493', 'add': 'you'}]

In [8]:
del data[2]['name']
data

[{'name': 'Shakti', 'age': 21, 'add': 'Lalitpur'},
 {'name': 'Smile', 'age': 20, 'add': 'Butwal'},
 {'age': '493', 'add': 'you'}]

In [2]:
#dict inside dict
a={1:{'name': 'Shakti', 'age': 21, 'add': 'Lalitpur'},
  2:{'name': 'Smile', 'age': 20, 'add': 'Butwal'},
  3:{'name': 'mf', 'age': 493, 'add': 'you'}}
a

{1: {'name': 'Shakti', 'age': 21, 'add': 'Lalitpur'},
 2: {'name': 'Smile', 'age': 20, 'add': 'Butwal'},
 3: {'name': 'mf', 'age': 493, 'add': 'you'}}

In [10]:
d={}
n=int(input("Enter n: "))
for i in range(1,n+1):
    name=input("Enter name= ")
    age=int(input("Enter age= "))
    add=input("Enter add= ")
    info=('name':name,'age':age,'add':add)
print(d)

SyntaxError: invalid syntax (2593672350.py, line 7)

In [11]:
for i in a.values():
    print(i)

{'name': 'Shakti', 'age': 21, 'add': 'Lalitpur'}
{'name': 'Smile', 'age': 20, 'add': 'Butwal'}
{'name': 'mf', 'age': 493, 'add': 'you'}

In [12]:
for i in a.values():
    phone=int(input("Enter phone: "))
    i['phone']=phone
print(a)

Enter phone: 9818504363
Enter phone: 9886413212
Enter phone: 9898989898
{1: {'name': 'Shakti', 'age': 21, 'add': 'Lalitpur', 'phone': 9818504363}, 2: {'name': 'Smile', 'age': 20, 'add': 'Butwal', 'phone': 9886413212}, 3: {'name': 'mf', 'age': 493, 'add': 'you', 'phone': 9898989898}}

In [15]:
for i in a.values():
    ntc_phone=int(input("Enter NTC phone: "))
    ncell_phone=int(input("Enter NCELL phone: "))
    i['phone']=[ntc_phone,ncell_phone]
print(a)

Enter NTC phone: 9843761805
Enter NCELL phone: 9818504363
Enter NTC phone: 9898989898
Enter NCELL phone: 9889898989
Enter NTC phone: 9821392831
Enter NCELL phone: 9812312938
{1: {'name': 'Shakti', 'age': 21, 'add': 'Lalitpur', 'phone': [9843761805, 9818504363]}, 2: {'name': 'Smile', 'age': 20, 'add': 'Butwal', 'phone': [9898989898, 9889898989]}, 3: {'name': 'mf', 'age': 493, 'add': 'you', 'phone': [9821392831, 9812312938]}}

In [16]:
#CRUD
a={1:{'phy':{'pr':34,'th':45},'che':{'pr':54,'th':65},'math':87}}
a

{1: {'phy': {'pr': 34, 'th': 45}, 'che': {'pr': 54, 'th': 65}, 'math': 87}}