In [1]:
#Python Collection
#list
#tuple
#dictionary
#set

In [4]:
#list
#-Indexed
#-ordered
#-multiple values
#-mutable

In [5]:
a= ["Apple","Ball","Cat"]
b= [1,2,3,4,5,6,7]
# c= list()
c=[]
print(a,b,c)
print(type(a))
print(type(b))
print(type(c))

['Apple', 'Ball', 'Cat'] [1, 2, 3, 4, 5, 6, 7] []
<class 'list'>
<class 'list'>
<class 'list'>

In [7]:
a= ["Apple","Ball","Cat","Fish"]
print(a[0])
print(a[0:3])

Apple
['Apple', 'Ball', 'Cat']

In [8]:
a="HELLO WORLD"
print(list(a))

['H', 'E', 'L', 'L', 'O', ' ', 'W', 'O', 'R', 'L', 'D']

In [13]:
a=["Apple","Ball"]
b=[1,2,3,4,5]
c=a+b
print(c)

['Apple', 'Ball', 1, 2, 3, 4, 5]

In [14]:
a=["Apple","Ball"]
print(a*2)

['Apple', 'Ball', 'Apple', 'Ball']

In [18]:
#UPDATE
a= ["Apple","Ball","Cat","Fish"]
a[0]="APPLE"
print(a)

['APPLE', 'Ball', 'Cat', 'Fish']

In [24]:
# append() insert() extend() 
#append-->add at last
a=[]
a.append("Apple")
a.append("Ball")
a.append("Cat")
a

['Apple', 'Ball', 'Cat']

In [27]:
#add--> add at any specific index
a= ["Apple","Ball","Cat","Fish"]
a.insert(3,"Dog")
a

['Apple', 'Ball', 'Cat', 'Dog', 'Fish']

In [28]:
#extend
a= ["Apple","Ball","Cat","Fish"]
b= [1,2,3,4,5,6,7]
a.extend(b)
a

['Apple', 'Ball', 'Cat', 'Fish', 1, 2, 3, 4, 5, 6, 7]

In [30]:
a= ["Apple","Ball","Cat","Fish"]
b= [1,2,3,4,5,6,7]
c=a[0:2]+b[3:5]+a[2:]
c

['Apple', 'Ball', 4, 5, 'Cat', 'Fish']

In [8]:
l=[]
n=int(input("Enter the value of n= "))
for i in range(n):
    x=int(input("Enter the value of x= "))
    l.append(x)
print(l)

Enter the value of n= 4
Enter the value of x= 12
Enter the value of x= 23
Enter the value of x= 4
Enter the value of x= 4
[12, 23, 4, 4]

In [9]:

print("Enter max value= ",max(l))
print("Enter min value= ",min(l))
print("Enter sum= ",sum(l))
l.sort()
print(l)
l.reverse()
print(l)

Enter max value=  23
Enter min value=  4
Enter sum=  43
[4, 4, 12, 23]
[23, 12, 4, 4]

In [11]:
#sort()-->>sort alphabetical order and upper case and lower case
a=["Apple","Zebra","ant","coat","Fish"]
a.sort()
print(a)

['Apple', 'Fish', 'Zebra', 'ant', 'coat']

In [12]:
a=["Apple","Zebra","ant","coat","Fish"]
for i in a:
    print(i)

Apple
Zebra
ant
coat
Fish

In [13]:
a=["Apple","Zebra","ant","coat","Fish"]
for i in a:
    if i!="Apple":
        print(i)

Zebra
ant
coat
Fish

In [16]:
a=["Apple","Zebra","ant","Apple","coat","Fish"]
if "Apple" in a:
    print("YES",a.count("Apple"))
else:
    print("NO")

YES 2

In [20]:
#del pop() remove()
a=["Apple","Zebra","ant","Apple","coat","Fish"]
del a[0]
print(a)

['Zebra', 'ant', 'Apple', 'coat', 'Fish']

In [26]:
a=["Apple","Zebra","ant","Apple","coat","Fish"]
b=a.pop(1)
print(a)
print(b)

['Apple', 'ant', 'Apple', 'coat', 'Fish']
Zebra

In [31]:
a=["Apple","Zebra","ant","Apple","coat","Fish"]
b=a.index("ant")
print(b)

2

In [33]:
a=["Apple","Zebra","ant","Apple","coat","Fish"]
if 
a.remove("ant")
print(a)

['Apple', 'Zebra', 'Apple', 'coat', 'Fish']

In [ ]:
#WAP to detect index of multiple values
#WAP to remove duplicate values