In [1]:
!pip install mysql-connector

Collecting mysql-connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
Building wheels for collected packages: mysql-connector
  Building wheel for mysql-connector (setup.py): started
  Building wheel for mysql-connector (setup.py): finished with status 'done'
  Created wheel for mysql-connector: filename=mysql_connector-2.2.9-cp39-cp39-win_amd64.whl size=247961 sha256=be431606353e9046a540d9ceb4b065999947e289d388f5cf3cb5d3c35ec7cc23
  Stored in directory: c:\users\mesad\appdata\local\pip\cache\wheels\7b\14\39\5aad423666e827dfe9a1fbcd111ac17171e7c9865d570780ce
Successfully built mysql-connector
Installing collected packages: mysql-connector
Successfully installed mysql-connector-2.2.9

In [6]:
import mysql.connector      #importing database
database=mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="python"
)
db=database.cursor()

In [7]:
#selecting data from table
db.execute("SELECT*FROM student")
result=db.fetchall()
for x in result:
    print(x)

(1, 65, 45, 76, 56, 43, 367, 67.0, 'B', 'Shakti')
(2, 65, 87, 67, 65, 87, 380, 78.0, 'A', 'Smile')
(3, 56, 67, 54, 76, 65, 302, 56.0, 'C', 'Sushant')
(4, 65, 56, 67, 78, 65, 300, 60.0, 'B', 'Ram')

In [8]:
db.execute("SELECT sn,name, total FROM student")
result=db.fetchall()
for x in result:
    print(x)

(1, 'Shakti', 367)
(2, 'Smile', 380)
(3, 'Sushant', 302)
(4, 'Ram', 300)

In [9]:
#Inserting data
sql=f"INSERT INTO student(SN, Physics, Chemistry, Maths, English, Nepali, Total, Percentage, Grade, Name) VALUES(5,65,56,67,78,65,300,60,'B','Smol')"
db.execute(sql)
database.commit()

In [19]:
n=int(input("Enter n="))
for i in range(n):
    name=input("Enter name=")
    physics=int(input("Enter physics="))
    chemistry=int(input("Enter chemistry="))
    maths=int(input("Enter math="))
    english=int(input("Enter english="))
    nepali=int(input("Enter nepali="))
    total=sum([physics,chemistry,maths,english,nepali])
    per=total/5
    if per>=80:
        grade='A'
    elif per>=60:
        grade='B'
    elif per>=45:
        grade='C'
    else:
        grade='F'
    sql=f"INSERT INTO student(name,physics,chemistry,maths,english,nepali,total,percentage,grade) VALUES('{name}',{physics},{chemistry},{maths},{english},{nepali},{total},{per},'{grade}')"
    db.execute(sql)
    database.commit()

Enter n=3
Enter name=Saurabh
Enter physics=87
Enter chemistry=67
Enter math=78
Enter english=98
Enter nepali=78
Enter name=Pravaya
Enter physics=65
Enter chemistry=67
Enter math=78
Enter english=76
Enter nepali=56
Enter name=Sushant
Enter physics=76
Enter chemistry=78
Enter math=76
Enter english=65
Enter nepali=54

In [17]:
#delete
sql="DELETE FROM student WHERE Sn=4"
db.execute(sql)
database.commit()

In [21]:
#update
sql="UPDATE student SET Name='Smol Smile' WHERE Name='Smol'"
db.execute(sql)
database.commit()